.*/
!.github/

build*/
cmake-build*/

_CPack_*/
*.deb
*.tar.gz

dist/
*.egg-info/

__pycache__/
*.py[cod]

debian/changelog
debian/control
debian/copyright
debian/rules

.DS_Store
Thumbs.db

voice.*.wav
