Source: @CPACK_PACKAGE_NAME@
Standards-Version: 4.2.0
Section: devel
Priority: optional
Build-Depends: debhelper, cmake
Maintainer: @CPACK_DEBIAN_PACKAGE_MAINTAINER@
Homepage: @CPACK_DEBIAN_PACKAGE_HOMEPAGE@

Package: @CPACK_PACKAGE_NAME@
Section: devel
Priority: optional
Depends:
Architecture: any
Description: @CPACK_PACKAGE_DESCRIPTION_SUMMARY@
 @CPACK_DEBIAN_PACKAGE_HOMEPAGE@
